html,
body {
    height: 100%;
}

body {
    background-color: antiquewhite;
}

.container {
    /* border: 1px solid; */
    /* height: 600px; */
    width: 400px;
    aspect-ratio: 400/306;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(150, 149, 149), grey);
}

.col {
    border-bottom: 1px solid darkgray;
}

.row {
    margin: 5px;
}

#ioDiv {
    font-size: x-large;
    margin: 10px;
    min-height: 25px;
    border: 0;
    word-wrap: break-word;
    background: radial-gradient(circle at 80% 70%, #5f9ea0, teal);
    border-radius: 5px;
    color: lightgrey;
    font-family: "sevenSegmentWAlphabet";
}

.btn:hover {
    background-color: darkgrey;
}

.btn {
    margin: 5px;
    border: 0;
    background-color: lightgrey;
}

#equalsBtn:hover {
    background-color: teal;
}

#equalsBtn {
    background-color: cadetblue;
}

@font-face {
    font-family: "7segment";
    src: url(assets/fonts/7segment.ttf);
}

@font-face {
    font-family: "sevenSegmentWAlphabet";
    src: url(assets/fonts/Seven_Segment.ttf);
}